name: Microservices Deployment

on:
  push:
    branches: [ master ]

jobs:
  # simple-java-app
  deploy-api-gateway:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      - name: Build Service One
        run: mvn clean install -DskipTests
      - name: Deploy Service api-gateway to Azure
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'madhu-java-app' # Unique Azure App Name
          publish-profile: ${{ secrets.AZURE_API_PUBLISH_PROFILE  }}
          package: target/*.jar

