name: Microservices Deployment

on:
  push:
    branches: [ master ]

jobs:
  deploy-api-gateway:
    runs-on: ubuntu-latest
    steps:
      # FIX 1: You MUST check out your repository code first
      - name: Checkout Code
        uses: actions/checkout@v4

     
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21' 
          distribution: 'temurin'
          cache: maven

      - name: Build Service One
        # Maven will now find the pom.xml in the root directory
        run: mvn clean install -DskipTests

      - name: Deploy Service api-gateway to Azure
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'madhu-java-app'
          publish-profile: ${{ secrets.AZURE_API_PUBLISH_PROFILE }}
          package: target/*.jar
